<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{html/base}"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="#{importReport}">Import Report</title>
</head>
<body>
<h2 layout:fragment="page_header" id="page_header" th:text="#{greeting(${name})}"></h2>
<div layout:fragment="page_content" id="page_content">
    <p th:text="#{importHeaderSuccess}">message content</p>
</div>
</body>
</html>
