<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{html/base}"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="#{connectionNotification(${email})}">Email login notification</title>
</head>
<body>
<h2 layout:fragment="page_header" id="page_header" th:text="#{greeting(${username})}"></h2>
<div layout:fragment="page_content" id="page_content">
<!--    <p th:text="#{resetPasswordMessage(${beforeDate})}">message content</p>-->
    <a class="btn" th:href="${confirmationUrl}" th:text="#{btnResetPassword}">Reset my password</a>
    <p th:text="#{warningResetPasswordMessage}">If you didn't make this request then you can safely ignore this email.</p>
</div>
</body>
</html>